@using RehabilitationSystem.ViewModels.Parent;

@model GetParent

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Parent: @Model.Name</p>

                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4">
                            <div class="card-header mt-2"><h3>Profile Picture</h3></div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                <img class="img-account-profile rounded-circle mb-2" src="~/images/faces/face1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header mt-2">
                                <h3>Parent Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <h1 class="card-title">Name</h1>
                                    <p>@Model.Name</p>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title">Address</h1>
                                    <p>@Model.Name</p>
                                </div>
                                <div class="row ms-0">
                                    <div class="card-body col-1">
                                        <p class="card-title">Email</p>
                                        <p>@Model.AppUser.Email</p>
                                    </div>
                                    <div class="card-body col-1 mt-2">
                                        <p class="card-title">Phone Number</p>
                                        <p>@Model.AppUser.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="row ms-0">
                                    <div class="card-body col-1">
                                        <p class="card-title">No. of registered children</p>
                                        <p>@Model.Students.Count</p>
                                    </div>
                                    <div class="card-body col-1 mt-2">
                                        <p class="card-title">Payment Status</p>
                                        <p>@Model.Name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Child/children card-->
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Registered Child/Children</p>
                        <div class="table-responsive">
                            <table id="recent-purchases-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>DOB</th>
                                        <th>Program</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     @foreach (var obj in Model.Students)
                                     {
                                        <tr>
                                            <td>
                                                <a asp-controller="Student" asp-action="Details" asp-route-id="@obj.StudentId">
                                                    @obj.Name
                                                </a>
                                            </td>
                                            <td>@obj.Age</td>
                                            <td>@obj.DOB</td>
                                            <td>@obj.Name</td>
                                        </tr>
                                     } 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>