@using RehabilitationSystem.ViewModels.Parent;

@model List<GetParent>

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="me-md-3 me-xl-5">
                    <h2>Parent Management</h2>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Parent List</p>
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>No. children</th>
                                <th>Payment Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                            <tr>
                                <td>
                                    <a asp-controller="Parent" asp-action="Details" asp-route-id="@obj.ParentId">
                                        @obj.Name
                                    </a>
                                </td>
                                <td>@obj.AppUser.Email</td>
                                <td>@obj.AppUser.PhoneNumber</td>
                                @*<td>@obj.Name</td>
                                <td>@obj.Name</td>*@
                                <td>@obj.Students.Count</td>
                                <td>@obj.Name</td>
                                <td>
                                    <a onclick="" class="btn btn-icon">
                                        <i class="mdi mdi-delete-forever" style="color:red; font-size:25px;"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>